<div class="container workers">
    <div class="header">
        <h1>Trabajadores</h1>
        <%= button_to "Nuevo Trabajador", new_worker_path, method: :get ,class: "btn btn-success"%>
    </div>
    <div class="card-columns">
        <% @workers.each do |worker| %>
            <div class="card">
                <%# <img class="card-img-top" src="https://s3.envato.com/files/238377394/Warh_osl2_%20008.jpg" alt="Card image cap"> %>
                <%= image_tag(worker.avatar_url.to_s, class: "card-img-top", alt: "Imagen Trabajador") %>
                <div class="card-body">
                    <h5 class="card-title"><%= worker.nombre %></h5>
                    <p class="card-text">
                        <ul>
                            <li>NSS: <%= worker.nss %></li>
                            <li>RFC: <%= worker.rfc %></li>
                            <li>CURP: <%= worker.curp %></li>
                        <ul>
                    </p>
                    <a href="#" class="btn btn-primary">Mas Informacion</a>
                </div>
            </div>
        <% end %>
    </div>
</div>